{% extends 'inventory/base_inventory.html' %}
{% load static %}
{% block title %}remanent{% endblock %}

{% block body %}

{% if object_list %}

<table class="items">
  <tr>
    <th>id</th>
    <th>nazwa</th>
    <th>{% if object_list.0.net_price != 0 %}c. netto{% endif %}</th>
    <th>cena</th>
    <th>ilość</th>
    <th>j.m.</th>
    <th></th>
  </tr>
  
{% for item in object_list %}

<tr>
  <td><a class="item_id" href="{% url 'inventory:update' item.pk %}">{{ item.pk }}</a></td>
  <td>{{ item.make.name }}</td>
  <td>{% if item.net_price != 0 %}{{ item.net_price }} {% endif %}</td>
  <td>{{ item.price }}</td>
  <td>{{ item.quantity }}</td>
  <td>{{ item.unit.name }}</td>
  <td>
    <span style="color:grey;">
      {% if item.price_relation > 3 %}
      <strong><span style="color:red;">{{ item.price_relation }}</span></strong>
      {% elif item.price_relation < 1.5 %}
      <span style="color:blue;">{{ item.price_relation }}</span>
      {% else %}
      {{ item.price_relation }}
      {% endif %}
    </span>
  </td>
</tr>

{% endfor %}

{% endif %}

</table>

<form action="{% url 'inventory:create' %}" method="post">
  {% csrf_token %}

    {% for field in form %}
        {{ field }}
    {% endfor %}

  <input name="" type="submit" value="zapisz"/>
</form>

{% endblock %}
