{% extends 'inventory/base_inventory.html' %}
{% load static %}
{% block title %}remanent{% endblock %}

{% block body %}

{% if object_list %}

<table class="items">
  <tr>
    <th>id</th>
    <th>nazwa</th>
    <th>cena</th>
    <th>ilość</th>
    <th>j.m.</th>
    <th></th>
  </tr>
  
{% for item in object_list %}

<tr>
  <td><a class="item_id" href="{% url 'inventory:update' item.pk %}">{{ item.pk }}</a></td>
  <td>{{ item.make.name }}</td>
  <td>{{ item.price }}</td>
  <td>{{ item.quantity }}</td>
  <td>{{ item.unit.name }}</td>
  <td></td>
</tr>

{% endfor %}

{% endif %}

</table>

<form action="{% url 'inventory:create' %}" method="post">
  {% csrf_token %}

  {{ form }}

  <input name="" type="submit" value="zapisz"/>
</form>

{% endblock %}
