{% extends 'inventory/base_inventory.html' %}

{% block title %}wybierz remanent{% endblock %}

{% block body %}

<h5>wybierz remanent</h5>

<p>jeśli nie ma, to utwórz nowy <a href="{% url 'inventory:inventory_create' %}">tutaj</a></p>

<form method='post' action="{% url 'inventory:inventory_select' %}">

  {% csrf_token %}

  {{ form.errors }}

  {{ form }}

    <label for="show_hidden">pokaż ukryte towary</label>
    <input type="checkbox" name="show_hidden" value="True" {% if request.session.show_hidden %}checked{% endif %} id="show_hidden" />

  <div><input type="submit" value="wybierz"/></div>
</form>

{% endblock %}
