{% extends 'inventory/base_inventory.html' %}

{% load static %}

{% block title %}wyszukiwarka{% endblock %}

{% block body %}

<!-- search form -->

<form class="item_search" action="{% url 'inventory:item_search' %}" method="get">
  <ul>
    {{ form.as_ul }}
    <li>
      <input name="" type="submit" value="szukaj"/>
    </li>
  </ul>
</form>

<!-- item list -->

{% if object_list %}

<p>wynik: <strong>{{ item_num }}</strong></p>

<table class="items">
  <tr>
    <th>id</th>
    <th>nazwa</th>
    <th>{% if object_list.0.net_price != 0 %}c. netto{% endif %}</th>
    <th>cena</th>
    <th>ilość</th>
    <th>j.m.</th>
    <th>osoba</th>
    <th></th>
  </tr>
  
{% for item in object_list %}

<tr>
  <td><a class="item_id" href="{% url 'inventory:update' item.pk %}">{{ item.pk }}</a></td>
  <td>{{ item.make.name }}</td>
  <td>{% if item.net_price != 0 %}{{ item.net_price }} {% endif %}</td>
  <td>{{ item.price }}</td>
  <td>{{ item.quantity }}</td>
  <td>{{ item.unit.name }}</td>
  <td>{{ item.created_by.username }}</td>
  <td>
    <span style="color:grey;">
      {% if item.price_relation > 3 %}
      <strong><span style="color:red;">{{ item.price_relation }}</span></strong>
      {% else %}
      {{ item.price_relation }}
      {% endif %}
    </span>
</tr>

{% endfor %}

</table>

<!-- paginator -->

{% include 'inventory/paginator.html' %}

{% endif %}

{% endblock %}
