{% load static %}

<div class="row" id="navbar">
  <div class="two columns">
    <h3>przelewy</h3>
  </div>
  <div class="ten columns">
    <ul>
      <li>
        <strong>{{ user.username }}</strong>
        <a href="{% url 'logout' %}" title="wyloguj się">
          <img  class="ico" alt="logout" src="{% static 'icons/account-logout.svg' %}"/>
        </a>
      </li>
      {% if request.user.is_superuser %}
      <li><a href="{% url 'admin:index' %}">admin</a></li>
      {% endif %}
      {% if request.user.is_staff %}
      <li><a href="{% url 'counterparty-index' %}">kontrahenci</a></li>
      {% endif %}
      <li><a href="{% url 'transaction-index' %}">przelewy</a></li>
    </ul>
  </div>
</div>
