/* custom settings */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/* icons by:  */
/* Open Iconic — www.useiconic.com/open */

h1,h2,h3,h4,h5 {
    font-family: 'Roboto', sans-serif;
    color: #ea7317;
}
h1,h2,h3 {
    font-weight: 400;
}
h4,h5 {
    font-weight: 300;
}

a {
    text-decoration: none;
}

/* project navbar */

#navbar-main ul li {
    display: inline;
}
#navbar-main.left ul li {
    float: left;
    padding-right: 30px;

}
#navbar-main.right ul li {
    float: right;
}
#navbar-main a {
    text-decoration: none;
}

/* navbar */

#navbar {
    border-bottom: 3px solid #1EAEDB;
    margin: 10px 0 14px 0;
    padding-bottom: 8px;
}
#navbar h3 {
    margin: 0;
}
#navbar ul li {
    float: right;
    list-style-type: none;
    display: inline-block;
    padding: 17px 0 0 47px;
}
#navbar a {
    text-decoration: none;
}
#current_shop {
    margin-bottom: 10px;
}
#navbar2 ul li {
    float: left;
    display: inline;
    padding-right: 30px;
}
#navbar2 a {
    text-decoration: none;
}
.navbar3 {
    margin-top: 47px;
    margin-bottom: 30px;
    background-color: #f3f3f3;
    border-radius: 3px;
}
.navbar3 div {
    display: inline;
}
.navbar3-header {
    font-size: 2.5rem;
    padding-left: 10px;
}

/* item table */

table.items tr td:nth-child(1n+3) {
    text-align: right;
}
table.items tr td:nth-child(2) {
    min-width: 200px;
}
a.item_id {
    color: #000;
    text-decoration: none;
}
a.item_id:hover {
    color: #000;
    text-decoration: underline;
}

/* forms */

.errorlist {
    color: #8846e0;
}
form.item_search ul {

}
form.item_search ul li {
    list-style-type: none;
    display: inline-block;
}

/* other */

.ico {
    width:13px;
    height:13px;
    vertical-align: middle;
}
#shelf_counter a {
    float: right;
    text-decoration: none;
    font-weight: bold;
}
.red {
    color: red;
}
.pagination {
    margin-bottom: 30px;
}
.helptext {
    color: orange;
}
.button-orange {
    background-color: orange;
}
.orange {
    color: orange;
}
.inline ul li {
    display: inline;
    float: left;
    padding-right: 4px;
}
.bg-orange {
    background-color: #fec601;
}
.bg-red {
    background-color: red;
}
.white {
    color: white;
}
#invoice-items tr td:nth-child(5){
    text-align: right;
}
.form-number {
    width: 135px;
}
.nowrap {
    white-space: nowrap;
}
#device-search {
    background-color: #a6eaff;
    border-radius: 3px;
}
#device-search ul li {
    display: inline;
    float: left;
    padding-left: 30px;
}
.grey {
    color: grey;
}
.warning_sign {
    color: orange;
    font-weight: bold;
    font-size: 20px;
}
