/* custom settings */

/* icons by:  */
/* Open Iconic — www.useiconic.com/open */

/* project navbar */

#navbar-main ul li {
    display: inline;
}
#navbar-main.left ul li {
    float: left;
    padding-right: 30px;

}
#navbar-main.right ul li {
    float: right;
}
#navbar-main a {
    text-decoration: none;
}

/* navbar */

#navbar {
    border-bottom: 3px solid #1EAEDB;
    margin: 10px 0 14px 0;
    padding-bottom: 8px;
}
#navbar h3 {
    margin: 0;
}
#navbar ul li {
    float: right;
    list-style-type: none;
    display: inline-block;
    padding: 17px 0 0 47px;
}
#navbar a {
    text-decoration: none;
}
#current_shop {
    margin-bottom: 10px;
}

/* item table */

table.items tr td:nth-child(1n+3) {
    text-align: right;
}
table.items tr td:nth-child(2) {
    min-width: 200px;
}
a.item_id {
    color: #000;
    text-decoration: none;
}
a.item_id:hover {
    color: #000;
    text-decoration: underline;
}

/* forms */

.errorlist {
    color: #8846e0;
}
form.item_search ul {

}
form.item_search ul li {
    list-style-type: none;
    display: inline-block;
}

/* other */

.ico {
    width:13px;
    height:13px;
    vertical-align: middle;
}
#shelf_counter a {
    float: right;
    text-decoration: none;
    font-weight: bold;
}
.red {
    color: red;
}
.pagination {
    margin-bottom: 30px;
}
.helptext {
    color: orange;
}
.button-orange {
    background-color: orange;
}