{% extends 'machines/base_machines.html' %}
{% block body %}

<div class="navbar3">
  <div class="navbar3-header">Machine index</div>
  <div class="u-pull-right">
    <a class="button button-primary" href="{% url 'machines:setup-upload' %}">upload setup</a>
    <a class="button button-primary" href="{% url 'machines:create' %}">add</a>
  </div>
</div>

{% if machines %}
<table>
  <tr>
    <th>ID</th>
    <th>Name / FQDN</th>
    <th>Form / BIOS</th>
    <th>Prod / Vendor</th>
    <th>Kernel / System</th>
    <th>Location / Update</th>
  </tr>
  {% for machine in machines %}
  <tr>
    <td><a href="{% url 'machines:detail' machine.pk %}">{{ machine.pk }}</a></td>
    <td class="nowrap">{{ machine.name }}<br/>
      <span class="grey">{{ machine.FQDN }}</span></td>
    <td>{{ machine.form }}<br/>
      <span class="grey">{{ machine.bios }}</span></td>
    <td>{{ machine.prod }}<br/>
      <span class="grey">{{ machine.vendor }}</span></td>
    <td>{{ machine.kernel }} <br/>
      <span class="grey">{{ machine.OS }}</span></td>
    <td class="nowrap">{{ machine.location.name }}<br/>
      <span class="grey">{{ machine.days_since }} days ago</span>
      {% if machine.outdated_setup %}<span class="warning_sign">&#9889;</span>{% endif %}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
{% endblock %}
