{% extends 'invoices/base_invoices.html' %}
{% load static %}
{% block title %}faktury{% endblock %}

{% block body %}

<a class="button button-primary" href="{% url 'invoices:customer-create' %}">dodaj klienta</a>

<form action="" method="get">
  <div class="inline">
    <ul>
      {% csrf_token %}
      {{ form.as_ul }}
      <li>
        <input name="" type="submit" value="szukaj"/>
      </li>
    </ul>
  </div>
</form>

{% if object_list %}

<table>

  <tr>
    <th>firma</th>
    <th>adres</th>
    <th>telefon</th>
    <th>email</th>
    <th></th>
  </tr>
  
{% for item in object_list %}

<tr>
  <td>{{ item.company|default_if_none:"" }} {{ item.name|default_if_none:"" }}</td>
  <td>
    {% if item.street %} ul. {{ item.street }}, {% endif %} {{ item.city|default_if_none:"" }}</td>
  <td>{{ item.phone|default_if_none:"-" }}</td>
  <td>{{ item.email|default_if_none:"-" }}</td>
  <td><a href="{% url 'invoices:customer-detail' item.pk %}">szczegóły</a></td>
</tr>

{% endfor %}

</table>

{% endif %} {# object_list #}

{% endblock %}
