{% extends 'invoices/base_invoices.html' %}
{% load static %}
{% block title %}faktury{% endblock %}

{% block body %}

{% if object %}

<a class="button" href="{% url 'invoices:customer-update' object.pk %}">zmień dane</a>
<a class="button button-primary" href="{% url 'invoices:create' object.pk %}">wystaw fakturę</a>

<table>
  <tr>
    <th>firma</th>
    <td>{{ object.company|default_if_none:"-" }}</td>
    <th>imię i nazwisko</th>
    <td>{{ object.name|default_if_none:"-" }}</td>
  </tr>
  <tr>
    <th>ulica</th>
    <td>{{ object.street|default_if_none:"-" }}</td>
    <th>miasto</th>
    <td>{{ object.city|default_if_none:"-" }}</td>
  </tr>
  <tr>
    <th>NIP</th>
    <td>{{ object.tax_id|default_if_none:"-" }}</td>
    <th>email</th>
    <td>{{ object.email|default_if_none:"-" }}</td>
  </tr>
  <tr>
    <th></th>
    <td></td>
    <th>telefon</th>
    <td>{{ object.phone|default_if_none:"-" }}</td>
  </tr>
</table>

{% endif %}
{% endblock %}
