{% extends 'invoices/base_invoices.html' %}
{% load static %}
{% block title %}faktura{% endblock %}

{% block body %}

{% if object %}

<h4><span>Faktura</span> {{ object.number }} dla {{ object.customer.company|default_if_none:object.customer.name }}</h4>

<div>
  <a class="button" href="{% url 'invoices:update' object.pk %}">edytuj fakturę</a>
</div>


<table>
  <tr>
    <th>Klient</th>
    <td>{{ object.customer.company|default_if_none:object.customer.name }}
      <a href="{% url 'invoices:customer-detail' object.customer.pk %}">[dane]</a>
    </td>
    <th>Data wystawienia</th>
    <td>{{ object.issued }}</td>
  </tr>
  <tr>
    <th>Miejsce wydania</th>
    <td>{{ object.get_issue_place_display }}</td>
    <th>Data sprzedaży</th>
    <td>{{ object.transaction }}</td>
  </tr>
  <tr>
    <th>Sposób płatności</th>
    <td>{{ object.get_payment_display }}</td>
    <th>Termin płatności</th>
    <td>{{ object.due }}</td>
  </tr>
</table>

{% if items %}

<table id="invoice-items">

  <tr>
    <th>lp.</th>
    <th>nazwa towaru</th>
    <th>ilość</th>
    <th>stawka VAT</th>
    <th>cena brutto</th>
    <th></th>
    <th></th>
  </tr>
  
  {% for item in items %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ item.make.name }}</td>
    <td>{{ item.qty }}</td>
    <td>{{ item.vat }}</td>
    <td>{{ item.price }}</td>
    <td><a href="{% url 'invoices:invoice-item-update' item.pk %}">zmień</a></td>
    <td><a href="{% url 'invoices:invoice-item-delete' item.pk %}">usuń</a></td>
  </tr>
  {% endfor %}

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <th>razem:</th>
    <td>{{ total.sum|floatformat:2 }}</td>
  </tr>
</table>

{% endif %} {# items #}

<form action="{% url 'invoices:invoice-item-create' object.pk %}" method="post">
  <div class="inline">
    <ul>
      {% csrf_token %}
      {{ form.as_ul }}
      <li><label>&nbsp;</label><input class="button-primary" name="" type="submit" value="dodaj"/></li>
    </ul>
  </div>
</form>

{% if items %}
<a class="button white bg-orange" href="{% url 'invoices:latex' object.pk %}">drukuj fakturę</a>
{% endif %}
  

<div class="row">
  <div class="twelve columns">
    <a class="" href="{% url 'invoices:delete' object.pk %}">usuń fakturę</a>
  </div>
</div>

{% endif %} {# object #}

{% endblock %}
