{% extends 'inventory/base.html' %}

{% load static %}

{% block title %}wyszukiwarka{% endblock %}

{% block body %}
<h3>remanent</h3>

<!-- menu -->

{% include 'inventory/menu.html' %}

<!-- search form -->

<form class="item_search" action="{% url 'item_search' %}" method="get">
  <ul>
    {{ form.as_ul }}
    <li>
      <input name="" type="submit" value="szukaj"/>
    </li>
  </ul>
</form>

<!-- item list -->

{% if object_list %}

<table class="items">
  <tr>
    <th>id</th>
    <th>nazwa</th>
    <th>cena</th>
    <th>ilość</th>
    <th>j.m.</th>
    <th></th>
  </tr>
  
{% for item in object_list %}

<tr>
  <td><a class="item_id" href="{% url 'update' item.pk %}">{{ item.pk }}</a></td>
  <td>{{ item.make.name }}</td>
  <td>{{ item.price }}</td>
  <td>{{ item.quantity }}</td>
  <td>{{ item.unit.name }}</td>
  <td></td>
</tr>

{% endfor %}

<!-- paginator -->

{% include 'inventory/paginator.html' %}

{% endif %}

</table>

{% endblock %}
