{% extends 'inventory/base.html' %}

{% load static %}

{% block title %}podsumowanie{% endblock %}

{% block body %}

<p>suma brutto:
  <h3>{{ sum }}</h3>
</p>
<p>ilość pozycji:
  <h4>{{ count }}</h4>
</p>

<p><a href="{% url 'latex' %}"><img alt="pdf" src="{% static 'icons/document.svg' %}"/> wydruk pdf</a></p>

{% if count_by_user %}
<table>
{% for item in count_by_user %}
<tr>
  <td>{{ item.created_by__username }}</td>
  <td>{{ item.count }} pozycji</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}
