{% load static %}
<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8"/>
    <title>Domino - {% block title %}{% endblock %}</title>
    <meta name="Author" content="Dominik Szmek" />
    <meta name="Copyright" content="Domino" />
    <meta name="Robots" content="noindex, nofollow" />
    <meta name="Language" content="pl" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" /> 

  </head>
  <body>
    <div class="container">

      <!-- project menu -->
      
      <div class="row">
        <div class="left ten columns" id="navbar-main">
          <ul>
            <li><a href="{% url 'inventory:index' %}">remanent</a></li>
            <li><a href="{% url 'transactions:index' %}">przelewy</a></li>
            <li><a href="{% url 'invoices:customer-index' %}">faktury</a></li>
            <li><a href="{% url 'gold:form' %}">złoto</a></li>
            <li><a href="{% url 'machines:index' %}">sprzęt</a></li>

            {% if request.user.is_superuser %}
            <li><a href="{% url 'admin:index' %}">admin</a></li>
            {% endif %}

          </ul>
        </div>
        <div class="right two columns" id="navbar-main">
          <ul>
            {% if user.is_authenticated %}
            <li>
              <strong>{{ user.username }}</strong>
              <a href="{% url 'inventory:logout' %}" title="wyloguj się">
                <img  class="ico" alt="logout" src="{% static 'icons/account-logout.svg' %}"/>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>

      <!-- menu -->
      
      {% block navbar %}{% endblock %}

      <!-- body -->

      {% block body %}{% endblock %}

    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="grey">Django version {{ django_version }}</div>
            </div>
        </div>
    </footer>
  </body>
</html>
