{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>AQQ Domino - {% block title %}{% endblock %}</title>
    <meta name="Author" content="Dominik Szmek" />
    <meta name="Copyright" content="Domino" />
    <meta name="Robots" content="noindex, nofollow" />
    <meta name="Language" content="pl" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" type="text/css" /> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" /> 

  </head>
  <body>
    <div class="container">

      {% if user.is_authenticated %}

        <!-- menu -->

        {% include 'inventory/menu.html' %}

      {% endif %}
        
      <!-- body -->

      {% block body %}{% endblock %}

    </div>
  </body>
</html>
