{% extends 'transactions/base_transactions.html' %}
{% load static %}
{% load iban_space %}
{% block title %}przelewy{% endblock %}

{% block body %}

<h4>{{ counterparty.name }}</h4>

<a <button class="button" href="{% url 'transactions:counterparty-update' counterparty.pk %}">edytuj firmę</a>
                                   
<a <button class="button" href="{% url 'transactions:bankaccount-create' counterparty.id %}">dodaj konto bankowe</a>

<table>
  <tr>
    <th>nazwa</th>
    <td>{{ counterparty.name|default_if_none:"-" }}</td>
  </tr>
  <tr>
    <th>ulica</th>
    <td>{{ counterparty.street|default_if_none:"-" }}</td>
  </tr>
  <tr>
    <th>miasto</th>
    <td>{{ counterparty.city|default_if_none:"-" }}</td>
  </tr>
  <tr>
    <th>NIP</th>
    <td>{{ counterparty.tax_id|default_if_none:"-" }}</td>
  </tr>
</table>

{# list bank account #}

<h5>konta bankowe</h5>

<table>
  {% for account in counterparty.counterpartyaccount_set.all %}

  <tr>
    <td><strong>{{ account.account|iban_space }}</strong></td>
    <td>{{ account.comment }}</td>
    <td><a class="button" href="{% url 'transactions:bankaccount-update' account.pk %}">edytuj</a></td>
    <td><a class="button" href="{% url 'transactions:bankaccount-delete' account.pk %}">usuń</a></td>
    <td><a class="button button-primary" href="{% url 'transactions:transaction-create' account.pk %}">przelew</a></td>
  </tr>
  {% empty %}
  <p>brak numerów kont bankowych</p>

  {% endfor %}
</table>

{% endblock %}
