{% extends 'base.html' %}
{% load static %}
{% block title %}kontrahenci{% endblock %}

{% block body %}

<h4>Kontrahenci</h4>
<a href="{% url 'transactions:counterparty-create' %}">dodaj</a>

{% if counterparty_list %}

<table>
  <tr>
    <th>id</th>
    <th>nazwa</th>
  </tr>
  
  {% for item in counterparty_list %}

  <tr>
    <td><a href="{% url 'transactions:counterparty-detail' item.pk %}">{{ item.pk }}</a></td>
    <td><strong>{{ item.name }}</strong> {{ item.street }} {{ item.city }}</td>
  </tr>
  
  {% endfor %}
  
</table>

{% endif %}

{% endblock %}
