{% extends 'transactions/base_transactions.html' %}
{% load static %}
{% block title %}kontrahenci{% endblock %}

{% block body %}

<h4>Kontrahenci</h4>

<a class="button button-primary" href="{% url 'transactions:counterparty-create' %}">dodaj firmę</a>

{% if counterparty_list %}

<form action="" method="get">
  {% csrf_token %}
  {{ form.as_p }}
  <div><input name="" type="submit" value="szukaj"/></div>
</form>

<table>
  
  {% for item in counterparty_list %}

  <tr>
    <td>
      <strong>{{ item.name }}</strong>
      {{ item.street|default_if_none:"" }}
      {{ item.city|default_if_none:"" }}
    </td>
    <td>
      <a href="{% url 'transactions:counterparty-detail' item.pk %}">szczegóły</a>
    </td>
  </tr>
  
  {% endfor %}
  
</table>

{% endif %}

{% endblock %}

